.slide-pagination:hover > *,
.slide-pagination:focus-visible > * {
    scale: 1.2;
}

@keyframes squish {
    50% {
        scale: 1.4 0.6;
    }
}

@media not (prefers-reduced-motion) {
    .slide-button:hover > *,
    .slide-button:focus-visible > * {
        animation: squish 200ms ease-in-out;
    }
}
